{% extends 'basefront.html.twig' %}

{% block title %}Fiche {{ jeux.nom }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ jeux.nom }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ jeux.Synopsis }}</td>
            </tr>
            <tr>
                <th>Date de sortie</th>
                <td>{{ jeux.date ? jeux.date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Note moyenne attribuée par les joueurs</th>
                <th><h3><span class="badge badge-secondary">{{ moyenne.moyenne }} </span></h3></th>
            </tr>
        </tbody>
    </table>




        
    <div class="container text-center">
        <a href="{{ path('notes_new', {'id': jeux.id}) }}" class="myButtonNote"><i class="fas fa-arrow-right"></i>  Noter ce jeu (Inscris uniquement)</a>
    </div>


    
    

    <div class="container">
        <h3 class="text-center">Laissez un commentaire (Inscris uniquement)</h3>
        {{ include('commentaires/_form.html.twig') }}
    </div>

    <div class="container">
    <h3 class="text-center">Avis des autres joueurs</h3>

  
        
        {% for commentaire in commentaires %}
        <div class="bubble">
            <h3>{{commentaire.pseudo}}</h3>
            <p><i class="fas fa-quote-left"></i>  {{ commentaire.contenu }}  <i class="fas fa-quote-right"></i></p>
        </div>
        {% endfor %}
        
    </div>


{% endblock %}
