<!DOCTYPE HTML>
<html>
	<head>
		<title>Accueil</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="./assets/css/main.css"/>
	</head>
	<body class="landing is-preload">
		<div
			id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1>
					<a href="index.php">Nom du site</a>
				</h1>
				<nav id="nav">
					<ul>
						<li>
							<a href="{{ path('home') }}">Home</a>
						</li>
						<li>
							<a href="{{ path('jeux_dashboard') }}">Espace administrateur</a>
						</li>
						<li>
							<a href="{{ path('liste') }}">Liste complète des jeux</a>
						</li>
						<li>
							<a href="{{ path('app_register') }}" class="button">S'inscrire</a>
						</li>
						 ou
						<li>
							<a href="{{ path('app_login') }}" class="button">Se connecter</a>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<h2>Nom du site</h2>
				<p>Le top des jeux sur PC du moment !</p>
				<ul class="actions special">
					<li>
						<a href="{{url('app_register')}}" class="button primary">S'inscrire</a>
					</li>
					<li>
						<a href="#jeux" class="button">Nos meilleurs jeux</a>
					</li>
				</ul>
			</section>

			<!-- Main -->
			<section id="main" class="container">

				<section class="box special">
					<header class="major">
						<h2>La liste des meilleurs jeux PC du moment</h2>
						<div class="jumbotrom text-center">
							<p>Bonjour à tous, et bienvenue sur la page d'accueil du site</p>
						</div>
				</header>
				<span class="image featured"><img src="images/pic1.png" alt=""/></span>
			</section>

			<section id="jeux" class="box special features">
				<div class="features-row">
					<section>
						<span class="icon solid major fas fa-users"></span>
						<h3>Inscrivez-vous et créez votre compte</h3>
						<p>Vous avez la possibilité d'accéder aux commentaires et aux notes déposées par les utilisateur inscris. Si vous désirez faire partis de la communauté, vous decez vous inscrire sur notre site via <a href="{{ path('app_register') }}">ce lien</a> !</p>
					</section>
					<section>
						<span class="icon solid major fas fa-comments"></span>
						<h3>Commentez vos jeux préférés</h3>
						<p>Une fois membre de notre communauté, vous aurez le privilège de commenter les jeux de votre choix afin de faire grandir la crédibilité des critiques des jeux.</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fas fa-sort-numeric-up-alt"></span>
						<h3>Notez les jeux</h3>
						<p>Pensez à laisser une note de 1 à 9 sur les jeux de votre choix afin de récompenser ou de discrédité un jeu. Vous pourrez attribuer UNE note par jeu, donc soyez en sûre !</p>
					</section>
					<section>
						<span class="icon solid major fas fa-chalkboard-teacher"></span>
						<h3>Consultez les fiches jeux et Streamers</h3>
						<p>Vous pourrez accéder aux fiches des jeux et à nos streamers favoris. Vous aurez la vision sur l'état de leur stream en tant réel.</p>
					</section>
				</div>
			</section>

			<div class="row">
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic02.jpg" alt=""/></span>
						<h3>Liste des jeux disponibles sur le site</h3>
						<p>Découvrez les jeux disponibles sur notre site via le lien ci-dessous.</p>
						<ul class="actions special">
							<li>
								<a href="{{ path('liste') }}" class="button alt">Liste des jeux</a>
							</li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic03.jpg" alt=""/></span>
						<h3>Accédez à la liste des streamers disponibles sur notre site</h3>
						<p>Découvrez nos streamers coup de coeur que nous vous conseillerons forcément !</p>
						<ul class="actions special">
							<li>
								<a href="#" class="button alt">Liste de nos streamers favoris</a>
							</li>
						</ul>
					</section>

				</div>
			</div>

		</section>

		<!-- CTA -->
		<section id="cta">

			<h2>Inscrivez-vous pour connaître l'actualité des jeux !</h2>
			<p>Votre inscription vous donnera les droits pour noter et commenter notre liste, ce qui rendra plus persistant notre top.</p>

			<form>
				<div class="row gtr-50 gtr-uniform">
					<div class="col-8 col-12-mobilep">
						<input type="email" name="email" id="email" placeholder="Votre adresse mail"/>
					</div>
					<div class="col-4 col-12-mobilep">
						<input type="submit" value="S'inscrire" class="fit"/>
					</div>
				</div>
			</form>

		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Nom du site. Tout Droits Réservés.</li>
			</ul>
		</footer>
	</body>
</div>
<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
