{% extends 'basefront.html.twig' %}

{% block title %}Liste des jeux{% endblock %}


{% block body %}


<h2 class="text-center">Liste des jeux</h2>

<input type="text" id="myInput" onkeyup="searchBar()" placeholder="Rechercher un jeu.. (Nom, Note, streamer, extrait de synopsis)" title="Type in a name">

<table class="table table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">Nom</th>
      <th class="text-center" scope="col">Synopsis</th>
      <th class="text-center" scope="col">Streamer préféré</th>
      <th class="text-center" scope="col">Note moyenne du jeu</th>

    </tr>
  </thead>
  {% for jeu in jeux %}
  <tbody>
    <tr>
      <td class="text-center"><a href="{{ path('fiche', {'id': jeu.id}) }}">{{jeu.nom}}</a></td>
      <td class="text-center"> {{jeu.synopsis}} </td>
      <td class="text-center"> <a href="https://www.twitch.tv/{{jeu.streamer}}" target="blank">{{jeu.streamer}} </a></td>
      {% if jeu.id in moyenne|keys %}
        <td><h3><span class="badge badge-secondary">{{ moyenne[jeu.id] }}</span></h3></td>
      {% else %}
        <td><h4><span class="badge badge-secondary">Pas de note disponible</span></h4></td>
      {% endif %}
  {% endfor %}

  </tbody>
</table>


<script>
function searchBar() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>




{% endblock %}