{% extends 'basefront.html.twig' %}

{% block title %}Liste des jeux{% endblock %}


{% block body %}


<h2>Liste des jeux</h2>

<input type="text" id="myInput" onkeyup="searchBar()" placeholder="Rechercher un jeu.." title="Type in a name">

<table class="table table" id="myTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Synopsis</th>
      <th scope="col">Note Moyenne</th>
      <th scope="col">Streamer préféré</th>
    </tr>
  </thead>
  {% for jeu in jeux %}
  <tbody>
    <tr>
        <td><a href="{{ path('fiche', {'id': jeu.id}) }}">{{jeu.nom}}</a></th>
        <td> {{jeu.synopsis}} </th>
        <td> {{jeu.notemoyenne}} </th>
        <td> {{jeu.streamer}} </th>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
function searchBar() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>




{% endblock %}