{% extends 'baseback.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}

<h2 class="text-center">Liste des utilisateurs</h2>

    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Liste complète des utilisateurs</h6>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Email</th>
                      <th>Pseudo</th>
                      <th>Rôle</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Email</th>
                      <th>Pseudo</th>
                      <th>Actions</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{ user.id }}</td>
                      <td>{{ user.email }}</td>
                      <td>{{ user.pseudo }}</td>
                      <td>{{ user.roles[0] }}</td>
                      <td>
                        <div class="container">
                        <form method="post" action="{{ path('users_delete', {'id': user.id}) }}" onsubmit="return confirm('Bannir cet utilisateur?');">
                          <input type="hidden" name="_method" value="DELETE">
                          <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                          <button class="btn btn-dark">Bannir cet utilisateur</button>
                        </form>
                        </div>
                      </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>



{% endblock %} 