{% extends 'basefront.html.twig' %}

{% block title %} Profile de {{ app.user.pseudo }} {% endblock %}


{% block body %}
    <h1 class="h1 text-center">Profile de {{ app.user.pseudo }}</h1>

	<div class="container">
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
 			 {{message}}
		</div>
	{% endfor %}
		<div class="row">
			<table class="table table">
				<thead class="thead-dark">
					<tr>
						<th class="text-center" scope="col">Email</th>
						<th class="text-center" scope="col">Pseudo</th>
					</tr>
				</thead>
					<tbody>
						<tr>
						<td class="text-center">{{ app.user.username }}</td>
						<td class="text-center">{{ app.user.pseudo }}</td>
					</tbody>
			</table>
		</div>
	</div>
	<div class="container text-center">
		<a href="{{ path('users_edit') }}" type="button" class="btn btn-info">Modifier le profile</a>
		<a href="{{ path('userspass_edit') }}" type="button" class="btn btn-info">Modifier le mot de passe</a>
	</div>
{% endblock %}
